.hero-image {
  /* Use "linear-gradient" to add a darken background effect to the image (photographer.jpg). This will make the text easier to read */
  
  background-image: url("/ABR/images/poem-bg.jpg");

  /* Set a specific height */
  height: 100%;

  /* Position and center the image to scale nicely on all screens */
  background-position: center;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  position: relative;
}

body, html {
  height:100%;
  background-color: #f3e9ba;
}

.card-top {
  background-position: center;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  position: relative;
  height: 70%;
  border-radius: 20px 20px 0 0;
}

.card {
  padding: 15px 30px 15px 30px;
  height: 300px;
}

.card-bottom {
  height: 30%;
  border-radius: 0 0 20px 20px;
}
